html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-black: #000000;
  --color-gray: #878787;
  --color-green: #158908;
  --color-green-2: #1DA60C;
  --color-green-3: #40C32E;
  --color-green-4: #67E553;
  --color-green-5: #E1FFCC;
  --color-green-light: #F5FFEE;
  --color-dark: #555555;
  --color-white-2: #FAFAFA;
  --color-white: #FFF;
  --color-blue: #1882FF;
  --color-blue-2: #D5DEFF;
  --color-pink: #FFD5D5;
  --color-orange: #FF6541;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-black);
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 1330px;
  padding: 0 20px;
}

.header {
  padding: 30px 0;
}

.header__burger {
  width: 34px;
  height: 26px;
  padding: 5px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 60px;
}

.header__burger-line {
  display: inline-block;
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--color-black);
  -webkit-transition: opacity 0.08s ease-in;
  transition: opacity 0.08s ease-in;
}

.header__burger::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--color-black);
  margin-bottom: 5px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.header__burger::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--color-black);
  margin-top: 5px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.header__burger.is-active .header__burger-line {
  opacity: 0;
}

.header__burger.is-active::before {
  -webkit-transform: rotate(45deg) translate(1px, -4px);
          transform: rotate(45deg) translate(1px, -4px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.header__burger.is-active::after {
  -webkit-transform: rotate(-45deg) translate(2px, 3px);
          transform: rotate(-45deg) translate(2px, 3px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.header__social {
  margin-left: 60px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__row:not(:last-child) {
  margin-bottom: 28px;
}

.header__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  min-height: 100%;
}

.avtoriz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color-green-5);
  border-radius: 9px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-black);
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

.avtoriz__icon {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.avtoriz b {
  margin: 0 15px;
}

.avtoriz:hover {
  background-color: var(--color-green-light);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 30px;
}

.social__link {
  display: inline-block;
}

.social__link svg > * {
  fill: var(--color-green-2);
  -webkit-transition: fill 0.1s ease-in-out;
  transition: fill 0.1s ease-in-out;
}

.social__link:hover svg > * {
  fill: var(--color-black);
}

.search {
  width: 100%;
  max-width: 1080px;
  margin-right: 30px;
}

.search__input {
  width: 100%;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 35px;
  border: 2px solid var(--color-green);
  border-radius: 9px;
  outline: none;
  -webkit-transition: border-color 0.1 ease-in;
  transition: border-color 0.1 ease-in;
}

.search__input::-webkit-input-placeholder {
  color: var(--color-gray);
}

.search__input:-ms-input-placeholder {
  color: var(--color-gray);
}

.search__input::-ms-input-placeholder {
  color: var(--color-gray);
}

.search__input::placeholder {
  color: var(--color-gray);
}

.search__input:focus {
  border-color: var(--color-green-3);
}

.suppler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 31px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: 2px solid var(--color-dark);
  border-radius: 9px;
}

.suppler__arrow {
  width: 23px;
  height: 18px;
  margin-right: 10px;
  -webkit-transition: -webkit-transform 0.15s ease-in;
  transition: -webkit-transform 0.15s ease-in;
  transition: transform 0.15s ease-in;
  transition: transform 0.15s ease-in, -webkit-transform 0.15s ease-in;
}

.suppler.is-active .suppler__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category__img {
  margin-right: 10px;
}

.category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category__row:not(:last-child) {
  margin-bottom: 13px;
}

.category__item:not(:last-child) {
  margin-right: 30px;
}

.category__item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-black);
  position: relative;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.category__item a::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.category__item a:hover {
  color: var(--color-green-3);
}

.category__item a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu {
  position: relative;
}

.menu__container {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  top: 0;
  -webkit-transition: max-height 0.45s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  transition: max-height 0.45s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 101px 88px 6px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 101px 88px 6px rgba(0, 0, 0, 0.13);
}

.menu__container.menu--open {
  opacity: 1;
  visibility: visible;
}

.menu__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 20px;
}

.menu__body {
  padding: 60px 66px 88px 66px;
}

.menu__items {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 100px;
          column-gap: 100px;
}

.menu__item {
  -webkit-column-break-inside: avoid;
          break-inside: avoid-column;
  margin-bottom: 60px;
}

.menu-list {
  padding-left: 10px;
}

.menu-list__item:not(:last-child) {
  margin-bottom: 15px;
}

.menu-list__link {
  font-size: 24px;
  line-height: 31px;
  position: relative;
}

.menu-list__link::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.menu-list__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__col:not(:last-child) {
  margin-right: 60px;
}

.nav__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: var(--color-black);
  margin-bottom: 25px;
}

.nav__item:not(:last-child) {
  margin-bottom: 10px;
}

.nav__link {
  font-size: 18px;
  line-height: 25px;
  color: var(--color-dark);
  position: relative;
}

.nav__link::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.nav__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.site-container {
  padding-top: 60px;
  padding-bottom: 500px;
  background-color: var(--color-white-2);
}

.site-container__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside {
  margin-right: 30px;
}

.aside__items {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.aside__item:not(:last-child) {
  margin-bottom: 20px;
}

.card {
  width: 300px;
  border-radius: 9px;
  overflow: hidden;
}

.card--dark {
  background-color: var(--color-green-light);
}

.card--white {
  background-color: var(--color-white);
}

.card__img {
  height: 195px;
  position: relative;
}

.card__tags {
  position: absolute;
  left: 30px;
  bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__tag:not(:last-child) {
  margin-right: 10px;
}

.card__tag a {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 9px;
  letter-spacing: 0.1em;
}

.card__tag--pink a {
  background-color: var(--color-pink);
}

.card__tag--blue a {
  background-color: var(--color-blue-2);
}

.card__content {
  padding: 20px 30px 30px 30px;
}

.card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 15px;
  color: var(--color-black);
}

.card__reviews {
  margin-bottom: 15px;
}

.card__descr {
  font-size: 18px;
  line-height: 25px;
  color: var(--color-dark);
  margin-bottom: 15px;
}

.card__date {
  margin-bottom: 5px;
}

.card__date, .card__loc {
  color: var(--color-gray);
  line-height: 21px;
}

.card__link:nth-child(1) {
  margin-bottom: 10px;
}

.card__btn:nth-child(1) {
  margin-bottom: 10px;
}

.card__info {
  margin-top: 10px;
}

.card__info--center {
  text-align: center;
}

.btn {
  text-align: center;
  border-radius: 9px;
}

.btn-primery {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-white);
  padding: 10px 20px;
  background-color: var(--color-green-3);
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}

.btn-primery:hover {
  background-color: var(--color-green);
}

.btn-primery:disabled {
  background-color: var(--color-green-5);
}

.btn-secondery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  line-height: 25px;
  padding: 8px 20px;
  color: var(--color-green-3);
  background-color: var(--color-white);
  border: 2px solid var(--color-green-3);
  -webkit-transition: border-color 0.1s ease-in, color 0.1s ease-in;
  transition: border-color 0.1s ease-in, color 0.1s ease-in;
}

.btn-secondery:hover {
  color: var(--color-green);
  border-color: var(--color-green);
}

.btn-secondery:hover svg > * {
  stroke: currentColor;
}

.btn-secondery:disabled {
  color: var(--color-green-5);
  background-color: var(--color-white);
  border-color: var(--color-green-5);
}

.link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-primery {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-green);
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}

.link-primery__arrow {
  width: 7px;
  height: 12px;
  margin-left: 10px;
}

.link-primery__arrow > * {
  stroke: currentColor;
}

.link-primery:hover {
  color: var(--color-blue);
}

.link-secondary {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}

.link-secondary:hover {
  color: var(--color-blue);
}

.copy-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.copy-icon > * {
  stroke: currentColor;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.cards__items {
  -webkit-column-count: 3;
          column-count: 3;
  margin: 0 -9px;
  margin-bottom: -30px;
}

.cards__item {
  padding: 0 8px;
  margin-bottom: 30px;
  -webkit-column-break-inside: avoid;
          break-inside: avoid-column;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.reviews__star:not(:last-child) {
  margin-right: 10px;
}

.reviews__star-icon {
  width: 19px;
  height: 19px;
}

.reviews__quantity {
  line-height: 21px;
  color: var(--color-orange);
}

.footer {
  padding: 56px 0;
  background-color: var(--color-white);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 190px;
          flex: 0 1 190px;
}

.footer__col:not(:last-child) {
  margin-right: 20px;
}

.footer__col:nth-child(1), .footer__col:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
}

.footer__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: var(--color-black);
  margin-bottom: 25px;
}

.footer__text {
  font-size: 18px;
  line-height: 25px;
  color: var(--color-dark);
  margin-bottom: 25px;
}

.modal {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 325px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
}

.modal--open {
  opacity: 1;
  visibility: visible;
}

.modal__inner {
  height: 100%;
  padding-top: 120px;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: auto;
}

.modal__body {
  position: relative;
  margin: 0 auto;
  max-width: 920px;
  padding: 60px;
  border-radius: 9px;
  background-color: var(--color-white);
}

.modal__close {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 5px;
}

.modal__close-icon {
  width: 24px;
  height: 24px;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.modal__close:hover .modal__close-icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.modal__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 410px;
          flex: 0 1 410px;
  margin-right: 30px;
  border-radius: 9px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.modal__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 360px;
          flex: 0 1 360px;
  padding-top: 30px;
}

.modal__title {
  font-weight: 500;
  font-size: 34px;
  line-height: 44px;
  color: var(--color-green);
}

.modal__title, .modal__text, .modal__reviews {
  margin-bottom: 20px;
}

.modal__text {
  font-size: 24px;
  line-height: 31px;
}

.modal__date {
  font-size: 18px;
  line-height: 25px;
  color: var(--color-dark);
}

.modal__btns {
  margin-top: 30px;
}

.modal__btn {
  max-width: 224px;
}

.modal__btn:nth-child(1) {
  margin-bottom: 15px;
}

.modal__descr {
  margin-bottom: 24px;
}

.modal__descr-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 15px;
}

.modal__descr-text {
  font-size: 18px;
  line-height: 25px;
  color: var(--color-dark);
}

.comments__item:not(:last-child) {
  margin-bottom: 24px;
}

.comment__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 15px;
}

.comment__reviews {
  margin-bottom: 15px;
}

.comment__date {
  font-size: 18px;
  line-height: 25px;
  color: var(--color-gray);
}

.comment__text {
  font-size: 24px;
  line-height: 31px;
}

.sign-in {
  padding-top: 92px;
  padding-bottom: 112px;
}

.sign-in__inner {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sign-in__box:not(:last-child) {
  margin-bottom: 60px;
}

.sign-in__title {
  font-weight: 500;
  font-size: 34px;
  line-height: 44px;
  margin-bottom: 25px;
}

.social-sign-in__item:not(:last-child) {
  margin-bottom: 15px;
}

.social-sign-in__link {
  font-size: 24px;
  line-height: 31px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 20px 14px 28px;
  border-radius: 9px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
}

.social-sign-in__link-icon {
  width: 24px;
  height: 24px;
  margin-right: 18px;
}

.form-sign-in__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-sign-in__group:not(:last-child) {
  margin-bottom: 24px;
}

.form-sign-in__label {
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 15px;
}

.form-sign-in__input {
  height: 51px;
  font-size: 24px;
  line-height: 31px;
  padding: 10px 20px;
  border-radius: 9px;
  border: 2px solid var(--color-dark);
  background-color: var(--color-white);
}

.form-sign-in__input::-webkit-input-placeholder {
  color: var(--color-gray);
}

.form-sign-in__input:-ms-input-placeholder {
  color: var(--color-gray);
}

.form-sign-in__input::-ms-input-placeholder {
  color: var(--color-gray);
}

.form-sign-in__input::placeholder {
  color: var(--color-gray);
}

.form-sign-in__checkbox {
  position: relative;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-sign-in__checkbox-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.form-sign-in__checkbox-text {
  font-size: 24px;
  line-height: 31px;
}

.form-sign-in__checkbox-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-sign-in__checkbox-label::before {
  content: '';
  width: 25px;
  height: 25px;
  margin-right: 15px;
  display: inline-block;
  border-radius: 9px;
  border: 2px solid var(--color-blue);
  -webkit-transition: background-color 0.05s linear;
  transition: background-color 0.05s linear;
}

.form-sign-in__checkbox-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}

.form-sign-in__link {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-blue);
  margin-top: 15px;
}

.form-sign-in__link:hover {
  text-decoration: underline;
}

.form-sign-in__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
}

.form-sign-in__btn:nth-child(1) {
  margin-right: 15px;
}

.form-sign-in__checkbox-input:checked + .form-sign-in__checkbox-label::before {
  background-color: var(--color-blue-2);
}

.form-sign-in__checkbox-input:checked + .form-sign-in__checkbox-label .form-sign-in__checkbox-icon {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */